/*
----------- MAX - WIDTH 425 px ------------*/
@media (min-width:425px)
{
    .featurette-expand-lg-presentation, #categoryList, #listingSellers, #category, #cardSeller, #manageAllSellers, #adminPanel {
        margin-top: 45%;
    }

    .navbar-common, .navbar-customer, .navbar-seller {
        top: 12%;
    }

    #accountCustomer, #updateAccountCustomer {
        margin-top: 54%;
    }

    #adminSeller {
        margin-top: 191px;
        margin-bottom: 18px;
    }

    .jumbotron-common, .jumbotron-customer{
        height: 12%;
    }

    .infoCustomer {
        margin-bottom: 19%;
    }

    .form-submit-customer {
        padding-top: 21%;
        padding-bottom: 22%;
    }

    #createItem, #managerBlockItems, #viewItem, #updateSeller {
        margin-top: 35%;
    }

    #updateBlock {
        margin-top: 20%;
    }

    .returnLink {
        margin-top: 43%;
    }

    .product {
        width: 80%;
        margin: auto;
    }

    .jumbotron-dashboard {
        margin-bottom: 18%;
        height: 10%;
    }


}