/*
----------- MAX - WIDTH 2560 px ------------*/
@media (min-width:2560px) {
    .title-website {
        font-size: 71px;
    }

    .logo-admin {
        width: 22%;
    }

    #widget {
        width: 17%;
        height: 230px;
    }

    .navbar-brand, .navbar-nav {
        font-size: 28px;
        top: 18%;
    }

    .jumbotron-common {
        height: 15%;
    }

    .presentation-expand-lg {
        font-size: 42px;
    }

    .lead-description-shop {
        font-size: 28px;
    }

    .logo {
        width: 15%;
    }

    #widget {
        width: 17%;
        height: 147px;
    }

    .featurette-product-seller .title-product {
        font-size: 2.5rem;
    }

    .title-product {
        font-size: 3rem;
    }

    .price, .stock, .link-seller, .link-ReadMore {
        font-size: 2rem;
    }

    .sellerexpand-lg, .addressSeller {
        font-size: 22px;
    }

    .lead-description-shop {
        font-size: 25px;
    }

    .title-welcome {
        font-size: 3.5rem;
    }

    .jumbotron-categories {
        font-size: 2rem;
    }

    .product {
        font-size: 22px;
    }

    #category .card-title, #category .card-text {
        font-size: 2.5rem;
    }

    .jumbotron-categories .card 

    .featurette-product-seller .title-product {
        font-size: 2rem;
    }

    .featurette-expand-lg-presentation, #categoryList, #listingSellers, #category, #cardSeller, #detailProduct, #updateAccountCustomer, .form-signin-expand-lg, #subscribeFrame {
        margin-top: 15%;
    }

    .infoCustomer, #updateAccountCustomer {
        font-size: 24px;
    }

    .form-submit-customer {
        padding-top: 140px;
    }

    .form-submit-customer .h5 {
        font-size: 30px;
        width: 20%;
    }

    #accountCustomer {
        margin-top: 18%;
    }

    .navbar-footer .navbar-nav-expand-lg {
        font-size: 30px;
    }

    .jumbotron-dashboard {
        width: 50%;
        margin: auto;
        height: 15%;
    }

    .jumbotron-dashboard h1 {
        font-size: 3.5rem;
    }

    #addItem, #listItems, #accountSeller, #updateAccountSeller, .headPost h3 {
        font-size: 2.5rem;
    }

    #addNewItem, #updateAccountSeller .btn {
        font-size: 1.75rem;
    }

    .imgcategory {
        display: flex;
        place-content: center;
    }

    .bloc {
        width: 25%;
    }

    #createItem, #managerBlockItems, #viewItem, #updateSeller {
        margin-top: 15%;
    }

    .returnLink {
        margin-top: 12%;
        font-size: 2.5rem;
    }

    #manageAllCustomers .card, .returnLink-admin, .login-submit .submit .h6 {
        font-size: 2rem;
    }

    /* LOGIN / SUBSCRIBE */
    .form-signin-expand-lg, #subscribeFrame {
        margin-top: 13%;
        margin-bottom: 4%;
    }

    #subscribeFrame img, .login-submit img {
        width: 15%;
    }

    #subscribeFrame .h4, .login-submit .h4 {
        font-size: 2.5rem;
    }

    #login-Seller .h5,  #login-Seller .form .btn, #loginCustomer .h5, #loginCustomer .form .btn, #subscribe-Seller .h5, #subscribe-customer .h5, #subscribe-formSeller .form .btn, #subscribe-formCustomer .form .btn {
        font-size: 3.25rem;
    }

    .subscribes-expand-lg .submit {
        font-size: 3rem;
    }

    /* ADMIN */
    .logo-admin {
        width: 70%;
    }

    #adminPanel {
        margin-top: 14%;
    }

    .jumbotronAdmin h1, #manageAllSellers .jumbotron h1 {
        font-size: 3.5rem;
    }

    .card-sellers {
        font-size: 3rem;
    }

    #adminPanel .card .card-body .card-title,  #adminPanel .card .card-body .btn {
        font-size: 2rem;
    }

    #manageAllSellers .card .card-header {
        font-size: 2.75rem;
    }

    #manageAllSellers .card .card-body p, .delete-link {
        font-size: 1.5rem;
    }

    #manageAllItems .card-body .description {
        font-size: 1.5rem;
    }
}