/*
----------- MAX - WIDTH 544 px ------------*/
@media (min-width:544px) {

    /* ADMIN */
    .navbar-admin, .navbar-common, .navbar-customer, .navbar-seller {
        top: 120px;
    }
    
    #adminPanel {
        margin-top: 210px;
        margin-bottom: 52px;
    }

    #accountCustomer {
        margin-top: 215px;
    }

    #viewItem {
        margin-top: 200px;
    }

    #adminSeller {
        margin-top: 230px;
    }

    .jumbotronAdmin, .jumbotron-common, .jumbotron-seller {
        height: 120px;
    }

    #managerBlockItems {
        margin-top: 180px;
    }

    .login-submit p {
        width: 60%;
    }

    .form-signin-expand-lg {
        margin-top: 180px;
    }

    .content-seller-expand-lg {
        align-items: center;
    }

    /* ALERT */
    .alert-dismissible {
        top: 22px;
    }
    
}