/*
----------- MAX - WIDTH 992 px ------------*/
@media (min-width:992px) {
    .session-users-sellerView, .session-users {
        display: flex;
        width: 100%;
        place-content: space-between;
    }

    .navbar-seller, .navbar-seller ul {
        width: 100%;
    }

    .navbar-seller #navbarNavDropdown .navbar-nav {
        width: 40%;
    }

    #createItem, #managerBlockItems, #viewItem, #updateSeller, #adminPanel {
        margin-top: 28%;
    }

    #accountCustomer, #updateAccountCustomer {
        margin-top: 23%;
    }

    .jumbotron-dashboard {
        margin-bottom: 6%;
    }

    .session-users-sellerView .nav-item-logout, .session-users-sellerView .nav-item-mailSeller, .nav-item-dashboard , .nav-item-logout, .nav-item-mailSeller {
        align-self: center;
    }

    .session-users-sellerView .nav-item-mailSeller .session {
        margin: 0;
    }

    .logo-admin {
        margin: auto;
    }

    .logo-admin img {
        margin: auto;
        width: 50%;
    }

    .session-users {
        font-size: 18px;
    }

    #updateItem {
        margin-top: 210px;
    }
}