/*
----------- MAX - WIDTH 1200 px ------------*/
@media (min-width:1200px) {

    .featurette-seller-home-expand-lg {
        height: 360px;
    }

    .featurette-expand-lg-presentation,
    #categoryList,
    #listingSellers,
    #category,
    #cardSeller {
        margin-top: 230px;
    }

    #detailProduct {
        margin-top: 300px;
        margin-bottom: 178px;
    }

    .img-sellerShop {
        height: 163px;
    }

    .img-sellerShop img {
        object-fit: contain;
        height: 163px;
    }

    .form-submit-customer {
        padding-top: 8%;
        padding-bottom: 7%;
    }

    .jumbotron-dashboard {
        margin-bottom: 5%;
    }

    /* ABOUT */
    #About {
        margin-top: 16%;
    }

    #About .picture {
        width: 20%;
    }

    #MyProjects {
        margin-bottom: 72px;
    }

    .picture img {
        width: 80%;
    }

    .img-product1 {
        height: 170px;
        object-fit: contain;
    }

    /* CONNEXION / INSCRIPTION*/
    .form-signin-expand-lg {
        margin-top: 241px;
        margin-bottom: 140px;
    }

    #subscribeFrame {
        margin-top: 202px;
    }

    /* ADMIN */
    #adminPanel {
        margin-top: 230px;
    }

    #adminSeller {
        margin-bottom: 72px;
    }
}