/* 
----------- MAX - WIDTH 1440 px ------------*/
@media (min-width:1440px) 
{
    .featurette-expand-lg-presentation, #categoryList, #listingSellers, #category, #cardSeller, #detailProduct, #accountCustomer, #updateAccountCustomer, #createItem, #managerBlockItems, #viewItem, #updateSeller {
        margin-top: 20%;
    }


    /* CARDSELLER */
    .presentation-shop-expand-lg {
        display: flex;
        width: 80%;
        justify-content: space-around;
        margin:auto;
    }

    .img-shop {
        width: 50%;
    } 

    .form-submit-customer {
        padding-top: 3%;
        padding-bottom: 7%;
    }

    #updateAccountCustomer .h2, #accountCustomer .h2 {
        width: 50%;
        margin: auto;
    }

    .infoCustomer {
        margin-top: 4%;
        margin-bottom: 5%;
    }

    .footer-seller {
        margin-top: 7.5%;
    }

    .returnLink {
        margin-top: 14%;
    }

    .newSellers-expand-lg .newSeller-expand-lg .featurette-seller-home-expand-lg {
        width: 60%;
    }

    .product {
        width: 80%;
    }

     /* SUBSCRIBE / LOGIN */
    #subscribeFrame, .form-signin-expand-lg {
        margin-top: 15%; 
    }

    /* ADMIN */
    .logo-admin img {
        width: 60%;
    }

    .navbar-admin {
        top: 15%;
    }

    #adminPanel {
        margin-top: 16%;
    }

    .returnLink-admin {
        margin-top: 16%;
    }

    #manageAllSellers .card {
        width: 50%;
        margin: auto;
    }

    .jumbotronAllItems, #manageAllSellers .jumbotron {
        width: 50%;
        margin: auto;
    }

    #manageAllItems .card .card-body {
        width: 50%;
        margin: auto;
    }


}