/*
----------- MAX - WIDTH 1024 px ------------*/
@media (min-width:1024px) 
{
    /* HOMEVIEW */
    .img-logo {
        width: 16%;
    }

    .img-presentation, .featurette-product-expand-lg, .img-product, .featurette-seller-expand-lg, .img-presentation, .subscribes-expand-lg {
        width: 100%;
    }
    
    .logo {
        width: 20%;
    }

    .title-website {
        font-size: 2rem;
        height: 30px;
    }

    #widget {
        height: 113px;
    }

    .session-users, .productSeller, #subscribeForms, #loginForms {
        display: flex;
    }

    .session-users .nav-item-logout {
        align-self: center;
        margin-right: 6px;
    }

    .nav-item-mailCustomer {
        align-self: center;
        margin-right: 10px;
    }

    .nav-item-subCustomer {
        align-self: center;
    }

    .session {
        margin-bottom: 0rem;
    }

    #adminSeller .headPost {
        margin-bottom: 11px;
    }

    .navbar-brand, .navbar-nav {
        font-size: 18px;
    }

    .navbar-footer .navbar-nav-expand-lg {
        display: flex;
        justify-content: space-around;
        font-size: 18px;
        align-items: center;
    }

    .navbar-footer .navbar-nav-expand-lg .expand-lg {
        margin-bottom: 0px;
    }

    .featurette-expand-lg-presentation, #categoryList, #listingSellers, #category, #cardSeller, #detailProduct {
        margin-top: 25%;
    }

    .featurette-heading-presentation-expand-lg {
        font-size: 2.75rem;
        width: 80%;
    }

    .presentation-expand-lg {
        font-size: 26px;
    }

    .selectionWeek .h2, .newSellers-expand-lg .h2 {
        width: 80%;
        margin: auto;
        font-size: 2.5rem;
        margin-bottom: 5%;
    }

    .productWeek-expand-lg {
        width: 100%;
        margin-bottom: 50px;
    }

    .img-product-expand-lg {
        display: flex;
        width: 60%;
        justify-content: space-around;
    }

    .img-product1 {
        width: 60%;
    }

    .product {
        width: 40%;
        align-self: center;
    }

    .title-product, .addressSeller, .listing .card-body .card-title, .listing .card-body .btn {
        font-size: 2rem;
    }

    .content-seller-expand-lg {
        width: 85%;
    }

    .link-seller-expand-lg .nav-link {
        font-size: 2.5rem;
    }

    .sellerexpand-lg, .lead-description-shop {
        font-size: 20px;
        align-self: center;
        width: 40%;
    }

    .img-sellerShop, .form-submit-customer label, #category .card .card-img-top, #About .picture {
        width: 50%;
    }

    /* DESCRIPTION PRODUCT */
    .img-product-seller, #detailProduct .h5, #AboutMe, .listItems .list-group .card, .listItems .card {
        width: 80%;
        margin: auto;
    }

    /* LISTSELLERVIEW */
    #listingSellers .list-group .card,  #listingSellers .card {
        width: 70%;
    }

    #listingSellers .list-group .card .infoCard, #listingSellers .card .infoCard {
        display: flex;
    }

    .listing .card {
        width: 60%;
    }

    #listingSellers .list-group .card-img-top,  #listingSellers .card-img-top {
        width: 90%;
    }

    /* CATEGORYLIST */
    #categoryList .listing .card {
        width: 34%;
    }

    #categoryList .listing .card .card-img-top {
        width: 80%;
    }

    /* CATEGORYVIEW */
    .jumbotron-categories {
        width: 60%;
    }

    #category {
        margin-bottom: 20px;
    }

    #category .card {
        width: 80%;
        display: flex;
        flex-direction: row;
    }

    #category .card .card-body, .img-shop {
        width: 50%;
        align-self: center;
    }

    /* CARDSELLER */
    .presentation-shop-expand-lg {
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin:auto;
    }

    .featurette-product-seller .title-product, .link-ReadMore {
        font-size: 1.5rem;
    }

    .product, .form-submit-customer {
        margin: auto;
        width: 50%;
    }

    #reviews {
        width: 60%;
        margin: auto;
    }

    #reviews .container {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    /* ABOUTVIEW */
    #About {
        margin-top: 20%;
    }

    #accountCustomer, #updateAccountCustomer {
        margin-top: 255px;
        margin-bottom: 109px;
    }

    .form-submit-customer {
        padding-top: 8%;
        padding-bottom: 9%;
    }

     /* SUBSCRIBE / LOGIN */
    .form-signin-expand-lg {
        margin-top: 265px;
        margin-bottom: 134px;
    }

    #subscribeFrame {
        margin-top: 220px;
        width: 100%;
        margin-bottom: 81px;
    }

    #subscribeFrame p, .login-submit p {
        width: 51%;
    }

    #subscribeFrame img, .login-submit img, .hash-list li {
        width: 20%;
    }

    #subscribe-Seller, #login-Seller {
        width: 50%;
        border-right: 2px solid orange;
    }

    #subscribe-customer, #loginCustomer {
        width: 50%;
        margin-top: 0px!important;
    }

    /* VIEW SELLER */
    #adminSeller {
        margin-bottom: 85px;
    }

    #navbarSupportedContent ul, .session-users {
        align-items: center;
    }

    .nav-item-dashboard {
        width: 30%;
        align-self: center;
    }

    .returnLink {
        margin-top: 18%;
    }

    /* ADMIN */
    .jumbotronAdmin {
        height: 120px;
    }

    .logo-admin {
        width: 20%;
    }

    #adminPanel {
        margin-top: 238px;
        margin-bottom: 56px;
    }
    
    /* ABOUT */
    .picture img {
        width: 42%;
    }

    /* ERROR */
    .page_404 {
        margin-top: 220px;
        margin-bottom: 15px;
    }
}