/*
----------- MAX - WIDTH 1200 px ------------*/
@media (min-width:1200px) 
{

.featurette-expand-lg-presentation, #categoryList, #listingSellers, #category, #cardSeller, #detailProduct {
    margin-top: 18%;
}

.form-submit-customer {
    padding-top: 8%;
    padding-bottom: 7%;
}

#MyProjects {
    margin-bottom: 72px;
}

.jumbotron-dashboard {
    margin-bottom: 5%;
}

#About {
    margin-top: 16%;
}

#About .picture {
    width: 20%;
}

.picture img {
    width: 80%;
}

.form-signin-expand-lg {
    margin-bottom: 230px;
}

#subscribeFrame, .form-signin-expand-lg {
    margin-top: 151px;
}

/* ADMIN */
#adminPanel {
    margin-top: 230px;
}

#adminSeller {
    margin-bottom: 72px;
}
}