/*
----------- MAX - WIDTH 768 px ------------*/
@media (min-width:768px)
{
    .jumbotron-common, .jumbotron-customer, .jumbotron-seller{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 15%;
        align-items: center;
    }

    .logo {
        width: 25%;
        height: auto;
    }

    .logo img {
        width: 90%;
    }

    .title-website {
        visibility: visible;
        width: 45%;
        text-align: center;
        height: 50%;
    }

    #widget {
        visibility: visible;
        width: 20%;
        height: 100px;
        background-size: cover;
        background-position: top;
    }

    .widgetCityName, .widgetCurrentWeather {
        text-align: center;
    }

    .widgetCurrentTemp {
        padding-left: 50%;
    }

    .navbar-common, .navbar-customer, .navbar-seller {
        top: 15%;
    }

    .featurette-expand-lg-presentation, #categoryList, #category, #cardSeller, #detailProduct, #accountCustomer, #updateAccountCustomer, .form-signin-expand-lg, #subscribeFrame {
        margin-top: 25%;
    }

    /* HOMEVIEW */
    .selectionWeek .h2, .newSellers-expand-lg .h2 {
        width: 80%;
        margin: auto;
        margin-bottom: 15px;
    }

    .sellerexpand-lg {
        width: 20%;
        align-self: center;
    }

    .img-sellerShop {
        width: 65%;
    }

    /* LISTINGSELLERS */
    #listingSellers, #cardSeller {
        margin-top: 30%;
    }

    #listingSellers h1 {
        width: 80%;
    }

    #listingSellers .card {
        width: 80%;
    }

    /* SELLERVIEW */
    .featurette-product-seller {
        width: 80%;
    }

    /* CARDSELLERVIEW */
    .hash-list {
        width: 100%;
        flex-direction: row;
        margin: auto;
        justify-content: space-between;
    }

    .hash-list li {
        width: 20%;
    }

    .allProduct .description-product {
        width: 80%;
        margin: auto;
    }

    /* ITEMS BY CATEGORY */
    #category .card, #category .card .card-img-top {
        width: 80%;
        margin: auto;
    }

    /* LOGIN / SUBSCRIVE VIEW */
    #subscribeFrame p, .login-submit p{
        width: 60%;
    }

    #subscribeFrame .h4, .login-submit .h4 {
        width: 80%;
    }

    .subscribes-expand-lg, #loginForms {
        width: 50%;
    }

    .form-submit-customer {
        padding-top: 7%;
        padding-bottom: 7%;
    }

    #detailProduct .featurette-product-seller {
        width: 50%;
    }

    .infoCustomer {
        margin-top: 5%;
        margin-bottom: 6%;
    }

    .headPost h3 {
        font-size: 2.3rem;
    }

    #addItem, #listItems, #accountSeller {
        font-size: 1.5rem;
    }

    .footer-seller{
        margin-top: 5%;
    }

    .card-AllSellers, #adminPanel .card {
        margin-top: 4%;
    }

    .returnLink {
        margin-top: 24%;
    }

    #manageAllSellers, .jumbotronAllItems, #manageAllCustomers{
        margin-top: 2%;
    }

    #updateBlock {
        margin-top: 3%;
    }

    #viewItem .card {
        width: 50%;
        margin: auto;
    }

    .returnLink {
        margin-top: 33%;
    }
    
    /* ADMIN */
    .jumbotronAdmin {
        height: 18%;
        margin-bottom: 0px;
    }
    
    .jumbotronAdmin h1 {
        width: 80%;
        margin:auto;
    }

    .navbar-admin {
        top: 18%;
    }   

    .returnLink-admin {
        margin-top: 32%;
        margin-bottom: 5%;
    }
    
    #adminPanel {
        margin-top: 252px;
        margin-bottom: 0px;
    }

    #manageAllCustomer {
        margin-bottom: 0%;
    }

    .jumbotronAllItems h1 {
        margin-bottom: 4%;
    }

    #manageAllCustomers {
        margin-bottom: 10%;
    }

    .navbar-footer-admin {
       margin-top: 0%;
    }

    /* ERROR */
    .page_404 {
        margin-top: 22%;
    }

    .page_404 .container {
        margin: auto;
        width: 100%;
    }

    .page_404 .container .row .col-sm-12 .col-sm-10 {
        margin: auto;
    }

}
