/*
----------- MAX - WIDTH 2560 px ------------*/
@media (min-width:2560px) {
    .title-website {
        font-size: 71px;
    }

    #widget {
        width: 17%;
        height: 230px;
    }

    .navbar-brand,
    .navbar-nav {
        font-size: 28px;
        top: 18%;
    }

    .jumbotron-common {
        height: 20%;
    }

    .navbar-common {
        top: 20%;
    }

    .presentation-expand-lg {
        font-size: 42px;
    }

    .lead-description-shop {
        font-size: 28px;
    }

    .logo {
        width: 15%;
    }

    .featurette-product-seller .title-product,
    #category .card-title,
    #category .card-text,
    #addItem,
    #listItems,
    .headPost h3,
    #subscribeFrame .h4,
    .login-submit .h4 {
        font-size: 2.5rem;
    }

    #accountCustomer {
        margin-top: 17%;
    }

    .title-product,
    .subscribes-expand-lg .submit,
    .card-sellers {
        font-size: 3rem;
    }

    .price,
    .stock,
    .link-seller,
    .link-ReadMore,
    .jumbotron-categories,
    .featurette-product-seller .title-product,
    #manageAllCustomers .card,
    .returnLink-seller,
    .login-submit .submit .h6,
    .returnLink-seller .h6 {
        font-size: 2rem;
    }

    .sellerexpand-lg,
    .addressSeller,
    .product {
        font-size: 22px;
    }

    .lead-description-shop {
        font-size: 25px;
    }

    .title-welcome,
    .jumbotron-dashboard h1,
    .jumbotronAdmin h1,
    #manageAllSellers .jumbotron h1 {
        font-size: 3.5rem;
    }

    .featurette-expand-lg-presentation,
    #categoryList,
    #listingSellers,
    #category,
    #cardSeller,
    #detailProduct,
    .form-signin-expand-lg,
    #createItem,
    #managerBlockItems,
    #viewItem,
    #updateSeller {
        margin-top: 15%;
    }

    .infoCustomer,
    #updateAccountCustomer {
        font-size: 24px;
    }

    #updateAccountCustomer,
    #accountCustomer {
        margin-top: 17%;
    }

    .form-submit-customer {
        padding-top: 95px;
        padding-bottom: 6%;
    }

    .form-submit-customer .h5 {
        font-size: 30px;
        width: 20%;
    }

    .navbar-footer .navbar-nav-expand-lg {
        font-size: 30px;
    }

    .jumbotron-dashboard {
        width: 50%;
        margin: auto;
        height: 15%;
        margin-bottom: 3%;
    }

    #addNewItem,
    #updateAccountSeller .btn {
        font-size: 1.75rem;
    }

    .imgcategory {
        display: flex;
        place-content: center;
    }

    .bloc {
        width: 25%;
    }

    .returnLink {
        margin-top: 12%;
        font-size: 2.5rem;
    }

    /* LOGIN / SUBSCRIBE */
    .form-signin-expand-lg,
    #subscribeFrame {
        margin-top: 360px;
        margin-bottom: 137px;
    }

    #subscribeFrame img,
    .login-submit img {
        width: 15%;
    }

    #login-Seller .h5,
    #login-Seller .form .btn,
    #loginCustomer .h5,
    #loginCustomer .form .btn,
    #subscribe-Seller .h5,
    #subscribe-customer .h5,
    #subscribe-formSeller .form .btn,
    #subscribe-formCustomer .form .btn {
        font-size: 3.25rem;
    }

    /* SELLER */
    #adminSeller {
        margin-top: 410px;
        margin-bottom: 78px;
    }

    #managerBlock .btn {
        width: 12%;
    }

    #managerBlockItems .jumbotron,
    #viewItem .jumbotron {
        width: 50%;
        margin: auto;
    }

    #About .picture {
        width: 13%;
    }

    #AboutMe h3,
    #MyProjects h3 {
        font-size: 2.75rem;
    }

    #About {
        margin-top: 14%;
    }

    #AboutMe p,
    #MyProjects .list-group {
        font-size: 28px;
        width: 50%;
        margin: auto;
    }
}