/*
----------- MAX - WIDTH 992 px ------------*/
@media (min-width:992px) {
    #widget {
        width: 23%;
    }

    .session-users-sellerView, .session-users {
        display: flex;
        width: 100%;
        place-content: space-between;
    }

    .navbar-seller, .navbar-seller ul {
        width: 100%;
    }

    .navbar-seller #navbarNavDropdown .navbar-nav {
        width: 40%;
    }

    .session-users-sellerView .nav-item-logout, .session-users-sellerView .nav-item-mailSeller, .nav-item-dashboard , .nav-item-logout, .nav-item-mailSeller {
        align-self: center;
    }

    .session-users-sellerView .nav-item-mailSeller .session {
        margin: 0;
    }

    .session-users {
        font-size: 18px;
    }

    #updateItem {
        margin-top: 210px;
    }

    #accountCustomer {
        margin-bottom: 0px;
    }

    /* ADMIN */
    #adminPanel {
        margin-top: 203px;
    }

    /* ERROR */
    .page_404 {
        margin-top: 208px;
    }
}