/*
----------- MAX - WIDTH 425 px ------------*/
@media (min-width:425px)
{
    .featurette-expand-lg-presentation, #categoryList, #listingSellers, #category, #cardSeller {
        margin-top: 180px;
    }

    #adminSeller {
        margin-top: 230px;
        margin-bottom: 142px;
    }

    #createItem, #updateSeller {
        margin-top: 170px;
    }

    .jumbotronAdmin, .jumbotron-common, .jumbotron-customer, .jumbotron-seller {
        height: 100px;
    }

    .navbar-customer, .navbar-seller {
        top: 100px;
    }

    #accountCustomer {
        margin-top: 216px;
        margin-bottom: 117px;
    }

    #accountCustomer .h2 {
        margin-bottom: 45px;
    }

    .form-submit-customer {
        padding-top: 21%;
        padding-bottom: 22%;
    }

    .returnLink {
        margin-top: 43%;
    }

    .product {
        width: 80%;
        margin: auto;
    }

    /* ABOUT */
    #About {
        margin-top: 167px;
        margin-bottom: 38px;
    }

    /* ADMIN */
    .navbar-admin, .navbar-common {
        top: 100px;
    }

    #adminPanel {
        margin-top: 196px;
    }

    #manageAllSellers, #manageAllItems, #manageAllCustomers {
        margin-top: 180px;
    }

    /* ERROR */
    .page_404 {
        margin-top: 190px;
    }

    /* ALERT */
    .alert-dismissible {
        top: 38px;
    }
}