/* ---------------------------------------- */
/* == 		         MEDIAS                 */
/*                   QUERIES 			    */
/*---------------------------------------- */
/*
----------- MAX - WIDTH 375 px ------------*/
@media (min-width:375px) {
    .returnLink {
        margin-top: 50%;
    }

    #success {
        margin-top: 55%;
    }

    .infoCustomer {
        margin-top: 20%;
        margin-bottom: 29%;
    }

    #accountCustomer {
        margin-top: 45%;
    }

    #updateAccountCustomer {
        margin-top: 51%;
    }

    #adminPanel {
        margin-top: 175px;
    }

    #manageAllCustomers {
        margin-bottom: 31%;
    }
    
    .returnLink-admin {
        margin-bottom: 10%;
    }

    .featurette-expand-lg-presentation, #categoryList, #listingSellers, #category, #cardSeller, #detailProduct {
        margin-top: 40%;
    }
}