/* ---------------------------------------- */
/* == 		         MEDIAS                 */
/*                   QUERIES 			    */
/*---------------------------------------- */
/*
----------- MAX - WIDTH 375 px ------------*/
@media (min-width:375px) {
    #success {
        margin-top: 55%;
    }

    .returnLink-admin {
        margin-top: 45%;
    }

    #viewItem {
        margin-top: 170px;
    }
}