/*
----------- MAX - WIDTH 1900 px ------------*/
@media (min-width:1900px) {

    .logo-common,
    .jumbotron-seller .logo,
    .jumbotron-customer .logo,
    .jumbotronAdmin .logo {
        width: 16% !important;
    }

    .title-website {
        margin-bottom: 0px;
        font-size: 3rem;
        width: 65%;
        height: 60px;
    }

    #widget {
        width: 18%;
    }

    .jumbotron-common,
    .jumbotron-customer,
    .jumbotron-seller,
    .jumbotronAdmin {
        height: 160px;
    }

    #listingSellers,
    #category,
    #cardSeller,
    #createItem,
    #managerBlockItems {
        margin-top: 270px;
    }

    .featurette-expand-lg-presentation {
        margin-top: 265px;
        margin-bottom: 15px;
    }

    .presentation-expand-lg {
        display: flex;
        width: 40%;
        border: 2px solid orange;
        margin: auto;
        border-radius: 50px;
        padding-right: 89px;
        padding-left: 30px;
    }

    .newSellers-expand-lg .newSeller-expand-lg .featurette-seller-home-expand-lg {
        width: 30%;
    }

    .presentation-shop-expand-lg {
        width: 55%;
    }

    .productSeller {
        width: 70%;
        margin: auto;
        height: 680px;
    }

    #detailProduct .img-product-seller {
        width: 50%;
        margin: auto;
        height: 360px
    }

    #detailProduct .featurette-product-seller {
        width: 50% !important;
        display: flex;
        height: 319px;
    }

    .allProduct {
        height: 950px;
    }

    .allProduct .productSeller .featurette-product-seller .img-product-seller .img-product1 {
        width: 100%;
        height: 340px;
    }

    .featurette-product-seller {
        width: 70%;
    }

    .newSeller-expand-lg {
        width: 65%;
    }

    .img-logo {
        width: 28%;
    }

    .selectionWeek .h2,
    .newSellers-expand-lg .h2 {
        width: 68%;
    }

    .productWeek-expand-lg {
        width: 75%;
    }

    #subscribeFrame p,
    .login-submit p {
        width: 42%;
    }

    .form-signin-expand-lg {
        margin-top: 250px;
        margin-bottom: 81px;
    }

    #updateAccountCustomer {
        margin-top: 306px;
    }

    #accountCustomer {
        margin-top: 290px;
        margin-bottom: 159px;
    }

    .form-submit-customer {
        padding-top: 4%;
        padding-bottom: 2%;
    }

    .form-submit-customer button {
        width: 20%;
    }

    #subscribeFrame .h4,
    .login-submit .h4,
    .list-categories,
    .list-sellers,
    .title-welcome {
        width: 50%;
    }

    #subscribeFrame {
        margin-top: 261px;
        margin-bottom: 70px;
    }

    .navbar-footer {
        margin-top: 0px;
    }

    .footer-seller {
        margin-top: 0%;
    }

    #loginForms {
        margin-top: 4%;
        margin-bottom: 69px;
    }

    #categoryList {
        margin-top: 15%;
    }

    .jumbotron-categories .card-img-top {
        width: 60%;
    }

    .jumbotron-common {
        height: 160px;
    }

    .listing {
        margin-top: 5%;
    }

    #widget {
        height: 143px;
        font-size: 20px;
        padding-left: 15px;
        padding-top: 15px;
    }

    .navbar-brand {
        margin: 0;
    }

    /* ERROR */
    .page_404 {
        margin-top: 300px;
        margin-bottom: 30px;
    }

    /* SELLER */

    .jumbotron-dashboard,
    #managerBlockItems .jumbotron,
    #updateItem .jumbotron {
        width: 50%;
        margin: auto;
    }

    #viewItem .jumbotron {
        width: 50%;
        margin: auto;
        margin-bottom: 60px;
    }

    #viewItem {
        margin-top: 260px;
        margin-bottom: 123px;
    }

    #viewItem .card-body {
        display: flex;
    }

    .img-item {
        width: 50%;
    }

    #adminSeller .headPost {
        margin-bottom: 4px;
        margin-top: 34px;
    }

    #adminSeller {
        margin-top: 320px;
        margin-bottom: 122px;
    }

    #updateSeller {
        margin-top: 230px;
        width: 60%;
    }

    #addBlock .infos,
    #updateBlock .infos {
        flex-direction: row !important;
        width: 80%;
        justify-content: space-around;
    }

    #addBlock .infos input,
    #updateBlock .infos input {
        width: 15%;
    }

    .imgcategory {
        display: flex;
        width: 60%;
        margin-top: 30px;
    }

    .imgcategory label {
        margin-top: 0rem !important;
    }

    #updateItem {
        margin-top: 12%;
    }

    /* ADMIN */
    .jumbotronAdmin {
        height: 160px;
    }

    .navbar-admin {
        top: 160px;
    }

    #adminPanel {
        margin-top: 270px;
        margin-bottom: 105px;
    }

    .jumbotron-seller {
        height: 160px;
    }

    .navbar-common,
    .navbar-customer,
    .navbar-seller {
        top: 160px;
    }

    #manageAllSellers,
    #manageAllItems,
    #manageAllCustomers {
        margin-top: 250px;
    }

    #About {
        margin-top: 191px;
    }

    #success,
    #error {
        margin-top: 238px;
    }

    .form-submit-customer label,
    #category .card .card-img-top,
    #About .picture {
        width: 40%;
    }

    #category .card {
        width: 50%;
    }

    #detailProduct .product {
        height: 140px;
    }

    #detailProduct {
        margin-bottom: 199px;
        margin-top: 320px;
    }

    #listingSellers .list-group .card,
    #listingSellers .card {
        width: 50%;
    }

    #listingSellers .img-seller {
        width: 50%;
    }

    #About .picture img {
        width: 40%;
    }

}