/*
----------- MAX - WIDTH 700 px ------------*/
@media (min-width:700px) {

    .logo-common, .jumbotron-seller .logo, .logo-admin, .jumbotron-customer .logo {
        width: 50%;
    }

    .picture {
        width: 25%;
    }

    /* ADMIN */
    .jumbotronAdmin {
        height: 120px;
    }

    .jumbotron-admin h1 {
        margin-bottom: 2rem!important;
    }

    #adminPanel {
        margin-top: 221px;
        margin-bottom: 48px;
    }

    .navbar-admin {
        top: 120px;
    }

    .jumbotron-admin h1 {
        margin-bottom: 2rem!important;
    }

    #createItem, #updateSeller {
        margin-top: 210px;
    }

    .jumbotron-seller {
        height: 120px;
    }

    #adminSeller {
        margin-top: 219px;
        margin-bottom: 140px;
    }

    /* ERROR */
    .page_404 {
        margin-top: 185px;
        margin-bottom: 0px;
    }
}