/*
----------- MAX - WIDTH 1900 px ------------*/
@media (min-width:1900px) {
    .logo {
        width: 20%;
    }

    .title-website {
        margin-bottom: 0px;
        font-size: 3rem;
        width: 50%;
        height: 60px;
    }

     #listingSellers, #category, #cardSeller, #detailProduct, #createItem, #managerBlockItems {
        margin-top: 270px;
    }

    .featurette-expand-lg-presentation {
        margin-top: 265px;
        margin-bottom: 15px;
    }

    .presentation-expand-lg {
        display: flex;
        width: 40%;
        border: 2px solid orange;
        margin: auto;
        border-radius: 50px;
        padding-right: 89px;
        padding-left: 30px;
    }

    .img-logo {
        width: 28%;
    }

    #subscribeFrame p, .login-submit p {
        width: 42%;
    }

    .form-signin-expand-lg {
        margin-top: 261px;
        margin-bottom: 35px;
    }

    #updateAccountCustomer {
        margin-top: 18%;
    }

    #accountCustomer {
        margin-top: 290px;
        margin-bottom: 159px;
    }

    .form-submit-customer {
        padding-top: 4%;
        padding-bottom: 2%;
    }

    .form-submit-customer button {
        width: 20%;
    }

    #subscribeFrame .h4, .login-submit .h4, .list-categories, .list-sellers, .title-welcome {
        width: 50%;
    }

    #subscribeFrame {
        margin-top: 261px;
    }

    .navbar-footer {
        margin-top: 70px;
    }

    .footer-seller {
        margin-top: 0%;
    }

    #loginForms {
        margin-top: 4%;
        margin-bottom: 69px;
    }

    #categoryList {
        margin-top: 15%;
    }

    .jumbotron-categories .card-img-top {
        width: 60%;
    }

    .jumbotron-common {
        height: 160px;
    }

    .featurette-product-expand-lg {
        width: 75%;
        margin: auto;
    }

    .listing {
        margin-top: 5%;
    }

    #widget {
        height: 143px;
        font-size: 20px;
        padding-left: 15px;
        padding-top: 15px;
    }

    .navbar-brand {
        margin: 0;
    }

    /* ERROR */
    .page_404 {
        margin-top: 260px;
    }

    /* SELLER */

    .jumbotron-dashboard, #managerBlockItems .jumbotron, #updateItem .jumbotron {
        width: 50%;
        margin: auto;
    }

    #viewItem .jumbotron {
        width: 50%;
        margin: auto;
        margin-bottom: 60px;
    }

    #viewItem {
        margin-top: 231px;
        margin-bottom: 85px;
    }

    #viewItem .card-body {
        display: flex;
    }

    .img-item {
        width: 50%;
    }

    #adminSeller .headPost {
        margin-bottom: 4px;
        margin-top: 34px;
    }

    #addBlock .infos, #updateBlock .infos {
        flex-direction: row!important;
        width: 80%;
        justify-content: space-around;
    }

    #addBlock .infos input, #updateBlock .infos input {
        width: 15%;
    }

    .imgcategory {
        display: flex;
        width: 60%;
        margin-top: 30px;
    }

    .imgcategory label {
        margin-top: 0rem!important;
    }

    #updateItem {
        margin-top: 12%;
    }

    /* ADMIN */
    .jumbotronAdmin {
        height: 160px;
    }

    .navbar-admin {
        top: 160px;
    }

    #adminPanel {
        margin-top: 270px;
        margin-bottom: 105px;
    }

    .jumbotron-seller {
        height: 160px;
    }

    .navbar-common, .navbar-customer, .navbar-seller {
        top: 160px;
    }

    #adminSeller {
        margin-top: 243px;
    }

}