/*
----------- MAX - WIDTH 768 px ------------*/
@media (min-width:768px)
{
    .jumbotron-common, .jumbotron-customer, .jumbotron-seller, .jumbotronAdmin {
        display: flex;
        justify-content: space-around;
        height: 132px;
        align-items: center;
    }

    .logo-common, .jumbotron-seller .logo, .jumbotron-customer .logo, .jumbotronAdmin .logo {
        width: 20%!important;
    }

    .logo img, .jumbotron-dashboard .logo img, .jumbotron-customer .logo img, .jumbotronAdmin .logo img {
        width: 90%;
    }

    .title-website {
        visibility: visible;
        width: 55%;
        text-align: center;
        height: 50%;
    }

    #widget {
        visibility: visible;
        width: 20%;
        height: 100px;
        margin-right: 5px;
    }

    .widgetCityName, .widgetCurrentWeather {
        text-align: center;
    }

    .widgetCurrentTemp {
        padding-left: 50%;
    }

    .navbar-common, .navbar-customer, .navbar-seller {
        top: 132px;
    }

    .featurette-expand-lg-presentation, #categoryList, #category, #cardSeller, #detailProduct, .form-signin-expand-lg, #subscribeFrame {
        margin-top: 25%;
    }

    /* HOMEVIEW */
    .selectionWeek .h2, .newSellers-expand-lg .h2 {
        width: 80%;
        margin: auto;
        margin-bottom: 15px;
    }

    .sellerexpand-lg {
        width: 20%;
        align-self: center;
    }

    .img-sellerShop {
        width: 65%;
    }

    /* LISTINGSELLERS */
    #listingSellers, #cardSeller {
        margin-top: 30%;
    }

    #listingSellers h1, #listingSellers .card, .featurette-product-seller {
        width: 80%;
    }

    /* CARDSELLERVIEW */
    .hash-list {
        width: 100%;
        flex-direction: row;
        margin: auto;
        justify-content: space-between;
    }

    .hash-list li {
        width: 22%;
    }

    /* ITEMS BY CATEGORY */
    #category .card, #category .card .card-img-top, .allProduct .description-product, #subscribeFrame .h4, .login-submit .h4 {
        width: 80%;
        margin: auto;
    }

    /* LOGIN / SUBSCRIVE VIEW */
    #subscribeFrame p, .login-submit p{
        width: 60%;
    }

    .subscribes-expand-lg, #loginForms, #detailProduct .featurette-product-seller {
        width: 50%;
    }

    .form-submit-customer {
        padding-top: 8%;
        padding-bottom: 10%;
    }

    .headPost h3 {
        font-size: 2.3rem;
    }

    #addItem, #listItems, #accountSeller {
        font-size: 1.5rem;
    }

    .footer-seller{
        margin-top: 5%;
    }

    .returnLink {
        margin-top: 24%;
    }

    #updateBlock {
        margin-top: 3%;
    }

    #viewItem .card {
        width: 50%;
        margin: auto;
    }

    .returnLink {
        margin-top: 33%;
    }
    
    /* ADMIN */

    .returnLink-admin {
        margin-top: 215px;
    }

    .logo-admin {
        height: 100%;
        width: 30%;
        margin: unset;
    }


    /* SELLLER */
    #adminSeller {
        margin-bottom: 63px;
    }

    #adminSeller .headPost {
        margin-bottom: 0px;
    }

    .footer-seller {
        margin-top: 0;
    }

    #createItem, #managerBlockItems, #viewItem, #updateSeller {
        margin-top: 200px;
    }

    .navbar-nav {
        align-items: center;
    }

    /* ERROR */
    .page_404 {
        margin-top: 212px;
    }

    /* ALERTE */
    #success, #error {
        margin-top: 28%;
    }

}
