/* ---------------------------------------- */
/* == 		          CLASS 			    */
/*----------------------------------------- */

/*============== COLORS ==================*/
/*  MAIN COLORS */
.orange {
    color: #ff9900;
}

.white {
    color: white;
}

.bg-orange {
    background-color: #ff9900;
}

/* ---------------------------------------- */
/* == 		     TEMPLATE 		    	    */
/*----------------------------------------- */

/* JUMBOTRON */
.jumbotronAdmin,
.jumbotron-common,
.jumbotron-customer,
.jumbotron-seller {
    height: 80px;
}

/* LOGO */
.logo-common,
.jumbotron-seller .logo,
.logo-admin,
.jumbotron-customer .logo,
.jumbotron-seller .logo {
    height: 100%;
    width: 80%;
    display: flex;
    margin: auto;
}

.logo-common img,
.jumbotron-seller .logo img,
.logo-admin img,
.jumbotron-customer .logo img,
.jumbotron-seller .logo img {
    margin: auto;
    width: 100%;
}

/* TITLE & WIDGET */
.title-website,
#widget {
    visibility: hidden;
    height: 0px;
}

#widget {
    background-size: cover !important;
    background-position: top !important;
}

/* NAVBAR */
.navbar-admin,
.navbar-common,
.navbar-customer,
.navbar-seller {
    top: 80px;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-toggler,
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link.active {
    color: white;
}

.nav-link-fas {
    float: right;
}

/*============== COMMON ==================*/
/* DESCRIPTION PRODUCT */
#detailProduct {
    margin-top: 190px;
    margin-bottom: 88px;
}

/* LOGINVIEW - SUBSCRIBEVIEW */
.form-signin-expand-lg {
    margin-top: 134px;
}

/* HOMEVIEW - CATEGORYLIST */
.featurette-expand-lg-presentation,
#categoryList,
#listingSellers,
#category,
#cardSeller,
#subscribeFrame,
#managerBlockItems,
#viewItem,
#updateItem,
#updateSeller,
.returnLink,
#createItem {
    margin-top: 150px;
}

#viewItem {
    margin-bottom: 37px;
}

#adminSeller {
    margin-top: 230px;
    margin-bottom: 147px;
}

#adminSeller .headPost {
    margin-top: 50px;
}

/* SELLERVIEW */
#accountCustomer {
    margin-top: 200px;
    margin-bottom: 96px;
}

#accountCustomer .h2 {
    margin-bottom: 84px;
}

.hash-list {
    list-style: none;
}

/* ADMIN */
#adminPanel {
    margin-top: 200px;
    margin-bottom: 69px;
}

#manageAllSellers,
#manageAllItems,
#manageAllCustomers {
    margin-top: 150px;
}

/*======================
    404 page
=======================*/

.page_404 {
    padding: 40px 0;
    background: #fff;
    font-family: 'Arvo', serif;
    margin-top: 170px;
}

.page_404 img {
    width: 100%;
}

.four_zero_four_bg {

    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
}


.four_zero_four_bg h1 {
    font-size: 70px;
}

.four_zero_four_bg h3 {
    font-size: 80px;
}

.link_404 {
    color: #fff !important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
}

.contant_box_404 {
    margin-top: -50px;
}

/* ABOUTVIEW */
#About {
    margin-top: 167px;
}

.picture {
    width: 30%;
}

.picture img {
    width: 100%;
}

#AboutMe {
    text-align: justify;
    width: 80%;
    margin: auto;
}

/* ALERT */
.alert-dismissible {
    padding-right: 0rem;
}