/* ---------------------------------------- */
/* ==            SUMMARY           		    */
/*----------------------------------------- */

/* L23		- 1 - Color codes				*/
/* L45		- 2 - Définition Polices        */
/* L59		- 3 - Éléments Principaux       */
/* L71		- 4	- Class 				    */
/* L245		- 5 - Header    				*/
/* L273		- 6 - Section 1					*/
/* L302		- 7 - Section 2					*/
/* L402		- 8 - Section 3		            */
/* L551		- 9 - Footer        			*/
/* L621		- 10 - Media Queries 1			*/
/* L1006	- 11 - Media Queries 2		    */
/* L1143	- 12 - Media Queries 3 			*/
/* L1250	- 13 - Media Queries 4 			*/

/*------------------------------------------*/
/*==			   COLOR CODES 		        */
/*------------------------------------------*/
/* 	  
/* ---------------------------------------- */
/* ==              BASE                     */
/*----------------------------------------  */

/* ---------------------------------------- */
/* == 		DÉFINITIONS DES POLICES			*/
/*----------------------------------------- */






/* ---------------------------------------- */
/* == 		          CLASS 			    */
/*----------------------------------------- */

/*============== COLORS ==================*/
/*  MAIN COLORS */
.orange {
    color: #ff9900;
}

.white {
    color: white;
}

.bg-orange {
    background-color: #ff9900;
}

/* TEMPLATE COMMON */
header{
    height: 30%;
}

.jumbotron-common, .jumbotron-customer, .jumbotron-seller, .jumbotron-dashboard {
    height: 10%;
}

.logo {
    height: 100%;
}

.title-website, #widget {
    visibility: hidden;
    height: 0px;
}

.navbar-common, .navbar-customer, .navbar-seller, .navbar-admin {
    top: 10%;
}

.navbar-light .navbar-brand,.navbar-light .navbar-toggler, .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link.active {
    color: white;
}

.nav-link-fas {
    float: right;
}

/* HOMEVIEW - CATEGORYLIST */
.featurette-expand-lg-presentation,#categoryList, #listingSellers, #category, #cardSeller, #detailProduct {
    margin-top: 50%;
}

/* LOGIN - SUBSCRIBEVIEW */
.form-signin-expand-lg, #subscribeFrame, #managerBlockItems, #viewItem, #updateSeller, .returnLink {
    margin-top: 50%;
}

#createItem {
    margin-top: 48%;
}

.returnLink-admin {
    margin-top: 53%;
}

/* SELLERVIEW */
.hash-list {
    list-style: none;
}

/* ACCOUNT CLIENT VIEW LOGIN / SUBSCRIBE VIEW */
#accountCustomer, #updateAccountCustomer{
    margin-top: 60%;
}

.infoCustomer {
    margin-top: 20%;
    margin-bottom: 32%;
}

.infoCustomer ul {
    padding: 0;
    margin: auto;
    width: 80%;
}

.form-submit-customer {
    width: 80%;
    padding-top: 25%;
    padding-bottom: 24%;
    margin: auto;
}

/* SELLER DASHBOARD */
#managerBlock, #About {
    margin-top: 35%;
}

/* ADMIN */
.navbar-brand, .session {
    margin: 0;
}

#adminPanel {
    margin-top: 191px;
    margin-bottom: 20px;
}

.jumbotronAdmin {
    margin-bottom: 12%;
    height: 10%;
}

.returnLink-admin {
    margin-bottom: 10%;
}

.jumbotronAllItems h1 {
    margin-bottom: 15%;
}

.jumbotronAdmin .card {
    margin-bottom: 5%;
}

.navbar-footer-admin {
    margin-top: 15%;
}

#manageAllCustomers {
    margin-bottom: 50%;
}

/*======================
    404 page
=======================*/

.page_404 { 
    padding:40px 0; 
    background:#fff; 
    font-family: 'Arvo', serif;
    margin-top: 41%;
}

.page_404  img { 
    width:100%;
}

.four_zero_four_bg{
 
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
 }
 
 
.four_zero_four_bg h1 {
    font-size:70px;
 }
 
.four_zero_four_bg h3 {
	font-size:80px;
}
			 
.link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
}

.contant_box_404 {
    margin-top:-50px;
}

/* ABOUT */
#About {
    margin-top: 40%;
}

.picture {
    width: 50%;
    margin-top: 13%;
}

.picture img {
    width: 60%;
}

#AboutMe {
    text-align: justify;
    width: 80%;
    margin: auto;
}